.header-body{
    height: 100vh;
  background-image: url(../../../../Images/HeaderBg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header-body-right img{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.header-body-left{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  
} 
.header-body-right{
    width: 40%;
  
}
.Primary-btn{
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-image: linear-gradient(to right, #ed213a, #93291e);
}

@media only screen and (max-width: 480px) {
    .header-body{
        flex-direction: column;
    }
    .header-body-left{
        width: 70%;
    }
    .header-body-right img {
        width: 100%;
        margin-top: 25px;
    }
}